/*header*/
.header{
 height: 6.4rem;
 //background-color: $header-bg;
 font-family: Righteous;
}

.logo{
 padding-top: 2rem;
 display: flex;
 text-decoration: none;
 img{
  width: 1.3rem;
  height: 1.8rem;
 }
 p{
  padding-left: 1.5rem;
  font-family: Righteous;
  color: $white;
  font-size: 1.3rem;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
 }
}
.menu{
 padding: 2.5rem;
 //font-family: Righteous;
 //color:  #ffffff;
 font-size: 0.75rem;
 font-weight: 400;
 text-transform: uppercase;
}
.sub{
 //display: none;
 li{
  display: block;
  a{
   padding-left: 1rem;
   font-family: Righteous;
   color: $header-bg;
   font-size: 0.625rem;
   font-weight: 400;
   text-transform: uppercase;
  }
 }
}